.wrapper

  = render 'shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          = @group.name
        
        .left-header__members
          %ul Member：
          - @member.each do |m|
            = m.name
            
      .right-header
        .right-header__button
          = link_to 'EDIT', edit_group_path(@group), data:{turbolinks: false}

    .messages
      = render partial: 'message', collection: @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
